@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Fira Code', monospace;
  text-align: left;
}

.App-logo {
  height: 50vmin;
  align-self: center;
  margin-bottom: 0.5em;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: left; */
  font-size: calc(9px + 1.7vmin);
  color: #fafafa;
  padding: 1em;
}

.header-contact-info {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-around;
}

.header-elem-box {
  padding: 0.5vmin;
  justify-content: space-between;
}
.header-elem-box p {
  margin: 0;
}
.title {
  font-weight: 600;
  padding-bottom: 1vmin;
}

.title-header {
  font-weight: 600;
  color: #fafafa;
  /* color: #039b30; */
  padding-bottom: 1vmin;
  text-align: center;
  font-size: calc(10px + 3vmin);
}

.description {
  font-weight: 300;
  font-size: calc(6px + 1.5vmin);
  font-style: italic;
  padding: 1vmin;
}


.contact-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5vmin;
}

.contact-list-item {
  inline-size: max-content;
  text-decoration: unset;
  align-self: flex-end;
  font-weight: 500;
}

.contact-list-item:hover {
  font-weight: 800;
  color: #fafafa;
}

.contact-list-item-centered {
  inline-size: max-content;
  text-decoration: unset;
  align-self: initial;
  font-weight: 500;
}

.contact-list-item-centered:hover {
  font-weight: 800;
  color: #fafafa;
}

.App-link {
  /* color: #039b30; */
  color: #fafafa;
  /* font-weight: 400; */
  font-size: calc(7px + 1.7vmin);
}


.App-body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: left; */
  font-size: calc(10px + 2vmin);
  color: #666666;
  padding: 1em;
}
.exp-item {
  /* text-align: center; */
  font-weight: 300;
  font-size: calc(7px + 1.7vmin);
  /* padding: 1vmin; */
}
.exp-item-2 {
  font-weight: 500;
  font-size: calc(7px + 1.7vmin);
  /* padding: 1vmin; */
}
.exp-item-3{
  font-size: calc(7px + 1.7vmin);
}
.exp-item-reg {
  font-size: calc(5px + 1.4vmin);
  font-weight: 300;
}
.exp-card:hover{
  /* background-color: #e4e2e2; */
  background: radial-gradient(circle, rgb(236, 235, 235) 0%, rgba(250,250,250,1) 100%);
}
.text-console{
  font-family: 'Fire Code', monospace;
}

.column {
  display: flex;
  flex-direction: column;
}
.row-custom {
  display: flex;
  flex-direction: row;
}
.aling-centered {
  align-self: flex-end !important;
}
.tech-item{
  color: #3d3d3d;
  font-weight: 400;
  margin-top: 0.3em;
  font-size: calc(10px + 3vmin);
  /* color: #049729; */
}

.tech-description {
  /* color: #fafafa; */
  /* color: #666666; */
  font-weight: 200;
  /* font-style: italic; */
  margin: 0.3em;
  font-size: calc(9px + 1.7vmin);
}

.height-400 {
  /* height: calc(30px + 130vmin); */
  height: calc(30px + 78vmin);
}

.w-fix-little {
  max-width:100%;
  height: 10vmin;
  object-fit: contain;
  margin: 1vmin;
}
.black-white-filter{
  filter: saturate(0%) brightness(25%);
}
.filter-black-and-white{
  filter: saturate(0%);
}
.filter-black-and-white:hover{
  filter: saturate(100%);
}

.w-fix-big {
  height: 27vmin;
  margin: 0.3em;
}
.white {
  color:#fafafa;
}

.background-gray-3 {
  background: #0c0c0c;
}

.background-gray-2 {
  background: #1d1c1c;
}

.background-gray-1 {
  background: #333;
}

.color-green {
  color: #00b92e;
}
.color-green-2 {
  color: #01a029;
}
.color-gray {
  color: #242b33;
}
.color-gray-intermediate {
  color: #888787;
}
.color-gray-brightness {
  color: #cecbcb;
}

.color-gray-strong {
  color: #333;
}
.color-gray-strong-link:hover {
  color: #333;
  font-weight: 600;
}

.color-white {
  color: #fafafa;
}
.opacity {
  opacity: 96%;
}
.strong-text{
  font-weight: 500;
}
.without-padding-bottom{
  padding-bottom: 0;
}
.without-padding-bottom{
  margin-bottom: 0;
}
.margin-small {
  margin: 0.5em;
}
.padding-small{
  padding: 1vmin;
}
.padding-large {
  padding: 15vmin;
}

.d-content {
  display: contents;
}

/* bootstrap modifiers */
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-control-next-icon {
  display: none !important;
}
.carousel-caption {
  right: 5% !important;
  left: 5% !important;
  bottom: 15vmin !important;
}
.MuiTimeline-root{
  display: flex !important;
  padding: 0 !important;
  flex-grow: unset !important;
  flex-direction: column !important;
}
.MuiAccordion-root {
  position: inherit !important;
}
.MuiAccordionSummary-content {
  display: revert !important;
}
  .MuiAccordionSummary-root {
  display: contents !important;
  padding: none !important;
  min-height: none !important;
}
.MuiAccordionBase-root {
  position: none !important;
  align-items: none !important;
  justify-content: none !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
  background-color: unset !important;
}
.MuiCollapse-entered, .MuiCollapse-container {
  padding-left: 3vmin !important;
  padding-right: 3vmin !important;
}
/* media desktop modifiers */
@media only screen and (min-width: 768px) {
  .App-header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .App-logo {
    height: calc(8px + 23vmin);
    align-self: flex-start;
    margin-bottom: 0.2em;
    margin-left: 3.5vmin;
    margin-right: 4.5vmin;
  }
  .App-link {
    font-size: calc(4px + 1vmin);
  }
  .header-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .App-body {
    /* flex-direction: row; */
    justify-content: flex-start;
  }
  .header-elem-box {
    justify-content: flex-start;
  }
  .title-header {
    text-align: initial;
  }
  .contact-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .height-400 {
    height: calc(20px + 60vmin);
    /* height: calc(50px + 50vmin);
    height: calc(40px + 60vmin); */
  }
  .exp-item-3{
    font-size: calc(3px + 1vmin);
  }
  .MuiCollapse-entered, .MuiCollapse-container {
    padding-left: 30vmin !important;
    padding-right: 30vmin !important;
  }
}