.App {
  font-family: 'Fira Code', monospace;
  text-align: left;
}

.App-logo {
  height: 25vmin;
  align-self: center;
  margin-bottom: 0.5em;
}

.App-header {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: left; */
  font-size: calc(10px + 2vmin);
  color: #666666;
  padding: 1em;
}

.header-contact-info {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .App-header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .App-logo {
    align-self: flex-start;
  }
  .header-contact-info {
    display: flex;
    flex-direction: column;
  }
}
.header-elem-box {
  padding: 0.5vmin;
}
.header-elem-box p {
  margin: 0;
}
.title {
  font-weight: 600;
  color: #039b30;
  padding-bottom: 1vmin;
}

.description {
  font-weight: 200;
  font-size: calc(5px + 1.5vmin);
  font-style: italic;
  padding: 1vmin;
}

.description:hover {
  font-weight: 800;
}

.contact-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-list-item {
  inline-size: max-content;
  text-decoration: unset;
}

.contact-list-item:hover {
  font-weight: 800;
}

.App-link {
  color: #039b30;
  font-weight: 200;
  font-size: calc(5px + 1.5vmin);
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');